#in a perfect world tabs would rule, spioler it's an imperfect world.

root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
tab_width = 2
max_line_length = 79

[*.vim]
indent_size = 2

[*.py]
#For flowing long blocks of text with fewer structural restrictions,
#the line length should be limited to 72 characters.
indent_size = 4

#Salt state files, YAML format, 2 spaces
[*.sls, *.yaml, *.yml]
indent_style = space
indent_size = 2

[*.rb]
indent_size = 2

[Rakefile]
indent_size = 2

[*.css, *.scss, *.sass, *.]
indent_size = 2

[*.zsh, *.sh]
insert_final_newline = false

[*.go]
indent_style = tab


# Use 2 spaces for the HTML files
[*.html]
indent_size = 2

[*.json]
indent_size = 2
insert_final_newline = ignore

# Makefiles always use tabs for indentation
[Makefile]
indent_style = tab

# Batch files use tabs for indentation
[*.bat]
indent_style = tab

[*.md]
indent_size = 2
max_line_length = 109
