# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# .file backups
backup

#
nvim/plugged
nvim/autoload/plug.vim

#secure env vars shouldn't go into repo
zsh/secure_env.zsh

#plugin is generatred
zsh/_plugins.zsh


#no emails in a public repo please
git/config.local

# doesn't need to be in repo
configstore

cmus/*
!cmus/autosave
!cmus/*.theme

VSCode
!VSCode/User/settings.json
!VSCode/User/snippets

